<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278280175866-19fn08kc03hph83cfd24cacrmg97hqmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278280175866-19fn08kc03hph83cfd24cacrmg97hqmm</string>
	<key>API_KEY</key>
	<string>AIzaSyBNQjOeoti-c4Qxo0s3ZMlRqZywwgy90eo</string>
	<key>GCM_SENDER_ID</key>
	<string>278280175866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.freelancerFirebase</string>
	<key>PROJECT_ID</key>
	<string>learning-firebase-e5fe7</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-firebase-e5fe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278280175866:ios:04d66710cdc2afa17a0943</string>
</dict>
</plist>